---
import Navbar from '../components/navbar.astro';
import Footer from '../components/Footer.astro';
import Product from '../components/card-product.astro';
---

	<main>
		<ul role="list" class="link-card-grid">
			<Product/>
		</ul>
	</main>

 